.Card{
  --rsk-card-main-color: var(--bs-orange);
  a:not([class*="btn"]){
 
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  li + li {
    margin-top: 4px;
  }
}
